body{
    background-image: url(inicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}

nav{

    background-color: rgba(245, 245, 245, 0.316);
    padding: 20px;
    display: left;
    font-size: 20px;
    text-align: center;
    border-radius: 14px;

}
li{
    display: inline;
    color:aliceblue;
    padding: 80px;
    text-decoration: none;
}
h1{
    color: rgba(213, 124, 22, 0.861);
    text-align:center;
    font-size: 80px;

}
.busqueda{
    display:flex;
    width: 10%;
    background-color: whitesmoke;
    height: 3vh;
    border-radius: 25px;
    padding: 5px;
    margin-left: 80%;}
.busqueda input{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 5px;
}
.busqueda{
    display:flex;
    width: 13%;
    background-color: rgb(245, 241, 241);
    height: 5vh;
    border-radius: 25px;
}
a{
    text-decoration: none;
    font-size: 60PX;
    color:rgb(188, 108, 28);
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.caja{
    background-color: rgba(248, 184, 66, 0.418);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 14px;
    margin:auto;
    margin-top: 80px;
}
p{
    font-size: 20px;
    color: rgb(196, 123, 6);
}
h2{
    color: rgb(240, 136, 24);
    font-size: 24px;
}
.conten{

    border-radius: 14px;
    height: 50%;
    width: 100%;

}

.conten .contenedor-imagen{
    width: 75%;
    margin: 0 auto;
    border-radius: 24px;
}
    